<a href="https://colab.research.google.com/github/lanzetti1/Test/blob/main/PI4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercícios de utilização da biblioteca pandas

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Buscando arquivos no google drive

In [3]:
# o arquivo aparece um erro, "ParserError: Error tokenizing data. C error: Expected 1 fields in line 665, saw 2", para permitir que ele não seja lido, coloco uma "," e altero uma condição para false
df = pd.read_csv("/content/gapminder - gapminder.csv",)

In [4]:
# Para visualizar os cinco primeiros ítens da lista digito:

df.head()

   Unnamed: 0      country  year  population continent  life_exp       gdp_cap
0          11  Afghanistan  2007    31889923      Asia    43.828    974.580338
1          23      Albania  2007     3600523    Europe    76.423   5937.029526
2          35      Algeria  2007    33333216    Africa    72.301   6223.367465
3          47       Angola  2007    12420476    Africa    42.731   4797.231267
4          59    Argentina  2007    40301927  Americas    75.320  12779.379640

Alterando os nomes das colunas de inglês para português e salvando novamente na variável.

In [5]:
df = df.rename(columns={"country":"País", "continent":"Continente", "year":"Ano", "life_exp":"Expectativa de vida", "population":"População","gdp_cap":"PIB"})

# Para exibir as primeiras dez linhas alteramos o parâmetro do head() para head(10)
df.head(10)

,Unnamed: 0,País,Ano,População,Continente,Expectativa de vida,PIB
0,11,Afghanistan,2007,31889923,Asia,43.828,974.580338
1,23,Albania,2007,3600523,Europe,76.423,5937.029526
2,35,Algeria,2007,33333216,Africa,72.301,6223.367465
3,47,Angola,2007,12420476,Africa,42.731,4797.231267
4,59,Argentina,2007,40301927,Americas,75.320,12779.379640
5,71,Australia,2007,20434176,Oceania,81.235,34435.367440
6,83,Austria,2007,8199783,Europe,79.829,36126.492700
7,95,Bahrain,2007,708573,Asia,75.635,29796.048340
8,107,Bangladesh,2007,150448339,Asia,64.062,1391.253792
9,119,Belgium,2007,10392226,Europe,79.441,33692.605080

Para saber o total de linhas e colunas uso o objeto data frame shape.

In [6]:
df.shape

(142, 7)

Para saber o título das colunas.

In [7]:
df.columns

Index(['Unnamed: 0', 'País', 'Ano', 'População', 'Continente',
       'Expectativa de vida', 'PIB'],
      dtype='object')

Para saber o tipo de dado armazenado.

In [8]:
df.dtypes

Unnamed: 0               int64
País                    object
Ano                      int64
População                int64
Continente              object
Expectativa de vida    float64
PIB                    float64
dtype: object

Para ver as últimas linhas 15 da tabela.

In [9]:
df.tail(15)

,Unnamed: 0,País,Ano,População,Continente,Expectativa de vida,PIB
127,1535,Thailand,2007,65068149,Asia,70.616,7458.396327
128,1547,Togo,2007,5701579,Africa,58.420,882.969944
129,1559,Trinidad and Tobago,2007,1056608,Americas,69.819,18008.509240
130,1571,Tunisia,2007,10276158,Africa,73.923,7092.923025
131,1583,Turkey,2007,71158647,Europe,71.777,8458.276384
132,1595,Uganda,2007,29170398,Africa,51.542,1056.380121
133,1607,United Kingdom,2007,60776238,Europe,79.425,33203.261280
134,1619,United States,2007,301139947,Americas,78.242,42951.653090
135,1631,Uruguay,2007,3447496,Americas,76.384,10611.462990
136,1643,Venezuela,2007,26084662,Americas,73.747,11415.805690
137,1655,Vietnam,2007,85262356,Asia,74.249,2441.576404
138,1667,West Bank and Gaza,2007,4018332,Asia,73.422,3025.349798
139,1679,"Yemen, Rep.",2007,22211743,Asia,62.698,2280.769906
140,1691,Zambia,2007,11746035,Africa,42.384,1271.211593
141,1703,Zimbabwe,2007,12311143,Africa,43.487,469.709298

Para saber dados estatísticos da tabela

In [10]:
df.describe()

        Unnamed: 0     Ano     População  Expectativa de vida           PIB
count   142.000000   142.0  1.420000e+02           142.000000    142.000000
mean    857.000000  2007.0  4.402122e+07            67.007423  11680.071820
std     493.631441     0.0  1.476214e+08            12.073021  12859.937337
min      11.000000  2007.0  1.995790e+05            39.613000    277.551859
25%     434.000000  2007.0  4.508034e+06            57.160250   1624.842248
50%     857.000000  2007.0  1.051753e+07            71.935500   6124.371108
75%    1280.000000  2007.0  3.121004e+07            76.413250  18008.835640
max    1703.000000  2007.0  1.318683e+09            82.603000  49357.190170

Para fazer um filtro com os dados.Se quizer saber quais os continentes que compoem o cenário.

In [11]:
df["Continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'], dtype=object)

Sabendo os continentes, posso criar uma variável para ver os paíse que compõem aquele continente.

In [12]:
Oceania = df.loc[df["Continente"] == "Oceania"]
Oceania.head()

,Unnamed: 0,País,Ano,População,Continente,Expectativa de vida,PIB
5,71,Australia,2007,20434176,Oceania,81.235,34435.36744
91,1103,New Zealand,2007,4115771,Oceania,80.204,25185.00911

Fazendo um novo filtro

In [13]:
Oceania["Continente"].unique()

array(['Oceania'], dtype=object)

Para agrupar dados por continente e saber quantos são os países

In [14]:
df.groupby("Continente")["País"].nunique()

Continente
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: País, dtype: int64

Para saber a expectativa de vida média por ano.

In [15]:
df.groupby("Ano")["Expectativa de vida"].mean()

Ano
2007    67.007423
Name: Expectativa de vida, dtype: float64

Par saber o PIB médio e a soma do PIB.

In [16]:
df["PIB"].mean()

11680.071819878167

In [17]:
df["PIB"].sum()

1658570.1984226997