<a href="https://colab.research.google.com/github/lanzetti1/Tests/blob/main/Trabalhando_com_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importando a biblioteca pandas
import pandas as pd

É preciso importar um arquivo csv para poder utilizar no exercício. Encontrei um arquivo de nome "gapminder - gapminder_csv" na página https://www.kaggle.com. Ela apresenta a renda per capta da população do mundo no ano de 2007.

Criei uma pasta chamada Datasets no meu Google Drive e importei esse arquivo para a minha pasta.

In [ ]:
# Importando um arquivo do google drive. 
# Dentro da pasta Datasets escolha copiar caminho e entre aspas faça control v 
# df = pd.read_csv("/content/drive/MyDrive/Datasets/gapminder - gapminder.csv")

df = pd.read_csv("/content/drive/MyDrive/Datasets/gapminder - gapminder.csv")

In [ ]:
# Lendo as primeiras cinco linhas.
# A coluna "Unnamed: 0" é a posição da tabela de onde ela foi retirada.
# gdp_cap significa Gross Domestic Product per Capta ou PIB per Capta.
# O ponto "." nos valores abaixo é equivalente a vírgula "," no Brasil

df.head()

   Unnamed: 0      country  year  population continent  life_exp       gdp_cap
0          11  Afghanistan  2007    31889923      Asia    43.828    974.580338
1          23      Albania  2007     3600523    Europe    76.423   5937.029526
2          35      Algeria  2007    33333216    Africa    72.301   6223.367465
3          47       Angola  2007    12420476    Africa    42.731   4797.231267
4          59    Argentina  2007    40301927  Americas    75.320  12779.379640

Para alterar os nomes dos títulos (colunas) utilizo uma função do dicionário chamada rename. O título novo/antigo deve vir entre haspas, separados por ":" e entre "{ }".

In [ ]:
# df.rename(columns ={"nomeantigo1":"novonome1", "nomeantigo2":"nomenovo2", ...})
# Faço df = df.rename(...) para salvar o novo dataframe.

df = df.rename(columns={"Unnamed: 0":"Posição", "country":"País", "year":"Ano", "population":"População", "continent":"Continente", "life_exp":"Expectativa de Vida", "gdp_cap":"PIB"})

In [ ]:
df.head()

   Posição         País   Ano  ...  Continente Expectativa de Vida           PIB
0       11  Afghanistan  2007  ...        Asia              43.828    974.580338
1       23      Albania  2007  ...      Europe              76.423   5937.029526
2       35      Algeria  2007  ...      Africa              72.301   6223.367465
3       47       Angola  2007  ...      Africa              42.731   4797.231267
4       59    Argentina  2007  ...    Americas              75.320  12779.379640

[5 rows x 7 columns]

Para saber quantas linhas e colunas existem uso a função df.shape

In [ ]:
df.shape

(142, 7)

Para saber apenas os nomes das colunas uso df.columns

In [ ]:
df.columns

Index(['Posição', 'País', 'Ano', 'População', 'Continente',
       'Expectativa de Vida', 'PIB'],
      dtype='object')

In [ ]:
# Para saber o tipo de dado utiliza-se df.dtypes

df.dtypes

Posição                  int64
País                    object
Ano                      int64
População                int64
Continente              object
Expectativa de Vida    float64
PIB                    float64
dtype: object

In [ ]:
# Para saber as últimas linhas do conjunto de dados utilizo df.tail()

df.tail()

     Posição                País  ...  Expectativa de Vida          PIB
137     1655             Vietnam  ...               74.249  2441.576404
138     1667  West Bank and Gaza  ...               73.422  3025.349798
139     1679         Yemen, Rep.  ...               62.698  2280.769906
140     1691              Zambia  ...               42.384  1271.211593
141     1703            Zimbabwe  ...               43.487   469.709298

[5 rows x 7 columns]

In [ ]:
# Para retornar informações estatísticas sobre a tabela utilizamos df.describe()

df.describe()

           Posição     Ano     População  Expectativa de Vida           PIB
count   142.000000   142.0  1.420000e+02           142.000000    142.000000
mean    857.000000  2007.0  4.402122e+07            67.007423  11680.071820
std     493.631441     0.0  1.476214e+08            12.073021  12859.937337
min      11.000000  2007.0  1.995790e+05            39.613000    277.551859
25%     434.000000  2007.0  4.508034e+06            57.160250   1624.842248
50%     857.000000  2007.0  1.051753e+07            71.935500   6124.371109
75%    1280.000000  2007.0  3.121004e+07            76.413250  18008.835640
max    1703.000000  2007.0  1.318683e+09            82.603000  49357.190170

Para filtrar informções da tabela, posso verificar por exemplo os nomes dos continentes. Utilizo a função unique para filtrar apenas cada um dos continentes.

In [ ]:
df["Continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'], dtype=object)

Encontrado o nome dos continentes faço um filtro, por exemplo Africa, e atribuo os valores do continente Africa a ele.

In [ ]:
# Africa = df.loc[def["Continente"] == "Africa"] atribui à Africa os atributos da string "Africa" 
# df.loc[...] atribui localização aos dados de Oceania.

Africa = df.loc[df["Continente"] == "Africa"]

In [ ]:
Africa.head()

    Posição          País   Ano  ...  Continente Expectativa de Vida           PIB
2        35       Algeria  2007  ...      Africa              72.301   6223.367465
3        47        Angola  2007  ...      Africa              42.731   4797.231267
10      131         Benin  2007  ...      Africa              56.728   1441.284873
13      167      Botswana  2007  ...      Africa              50.728  12569.851770
16      203  Burkina Faso  2007  ...      Africa              52.295   1217.032994

[5 rows x 7 columns]

In [ ]:
Africa.tail()

     Posição      País   Ano  ...  Continente Expectativa de Vida          PIB
128     1547      Togo  2007  ...      Africa              58.420   882.969944
130     1571   Tunisia  2007  ...      Africa              73.923  7092.923025
132     1595    Uganda  2007  ...      Africa              51.542  1056.380121
140     1691    Zambia  2007  ...      Africa              42.384  1271.211593
141     1703  Zimbabwe  2007  ...      Africa              43.487   469.709298

[5 rows x 7 columns]

In [ ]:
#Para saber quantos países existem em cada continente posso o usar a função groupby. O nunique faz a contagem.

df.groupby("Continente")["País"].nunique()

Continente
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: País, dtype: int64

In [ ]:
# Para saber a espectativa de vida média por continente no ano de 2007.

df.groupby("Continente")["Expectativa de Vida"].mean()

Continente
Africa      54.806038
Americas    73.608120
Asia        70.728485
Europe      77.648600
Oceania     80.719500
Name: Expectativa de Vida, dtype: float64

In [ ]:
# Para saber o PIB médio por continente, faço o seguinte..

df.groupby("Continente")["PIB"].mean()

Continente
Africa       3089.032605
Americas    11003.031625
Asia        12473.026870
Europe      25054.481636
Oceania     29810.188275
Name: PIB, dtype: float64